/* Format Fonts */
h1 > span{
  color: #12D466;
}
h2 > span{
color: #12D466;
}
p > span{
color: #12D466;
}
h1{
font-family: 'Monument Extended';
font-style: normal;
font-weight: 400;
font-size: 1.875rem;
line-height: 116.5%;
/* identical to box height, or 35px */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
h2{
font-family: 'Monument Extended';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 110%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
h3{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 0.75rem;
line-height: 15px;
letter-spacing: -0.05em;
text-transform: capitalize;
color: #12D466;
}
p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size:0.625rem;
line-height: 150%;
/* or 18px */
text-align: left;
color: #FFFFFF;
}

/* Custom Elements */
.gray-btn , .green-btn{
padding: 8px 12px 12px 12px;
font-family: 'Monument Extended';
font-style: normal;
font-weight: 400;
font-size: 0.938rem;
line-height: 144.7%;

text-align: center;
letter-spacing: 0.025em;
text-transform: uppercase;
color: #FFFFFF;

box-sizing: border-box;
border-radius: 10px;
cursor: pointer;

transition: all 0.3s;
}
.gray-btn:hover , .green-btn:hover{

background: white;
color: #000000;

}
.gray-btn {
background: rgba(158, 168, 189, 0.31);
border: 1.5px solid #9EA8BD;
}
.green-btn{
background: rgba(0, 146, 66, 0.3);
border: 1.5px solid #12D466;
}
.custom-bottom-line{
width: 90%;
border: none;
border-bottom: 0.5px solid #009242;
margin-top: 64px;
}


/******* Tablet Styles ********/

@media (min-width: 760px) { 
h1{
  font-size: 3.125rem;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 1rem;
  line-height: 38px;
} 
p{
  font-size: 0.813rem;
  line-height: 16px;
}
.gray-btn , .green-btn{
  font-size: 1rem;
}
.custom-bottom-line{
  margin-top: 84px;

}
}

/******* Small Desktop *******/
@media (min-width: 1024px) { 
h3{
  font-size:1.125rem;
}
.custom-bottom-line{
  margin-top: 132px;
  max-width: 1108px;
}
}


/******* Large Desktop Styles *******/

@media (min-width: 1200px) { 
h2{
  font-size: 35px;
}
p{
  font-size: 0.938rem;
  line-height: 18px;
}
}


/******* Extra Large Desktop Styles *******/

@media (min-width: 1680px) { 

}